<!DOCTYPE html>
<html lang="en">

<head>
  <title>All DB Info</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div id="wrapper">
    <div class="center">
      <img src="/images/header.jpg" alt="sdqLogo">
    </div>
    <nav id="pageNav">
      <a class="noprint" href="/home">Return to Homepage</a>
      <a href="../sdqPage">Complete SDQ</a>
      <a href="../student-records">Individual Student Records</a>
    </nav>
  
  <h1>All Completed SDQ's</h1>
  <div id="resultTable">

    <script>
    
    function showDetails(id){
        
        console.log(id);
        
        let element = document.getElementById(id);
        
        console.log(element);
        
        if (element.style.display == 'none'){
            
            element.style.display = 'inline-block';
            
        } else {
            
            element.style.display = 'none';
            
        }
        
    };
    
    </script>
<<<<<<< HEAD
=======




>>>>>>> cf7cdb882bf7dada93bd483b47c0f41080c24391
    <% completedSDQ.forEach(function(r) { %>
  <table style="border: 1px solid black; border-collapse: collapse;">
    <tr>      
      <th style="border-right: 1px solid black; width: 100px;"></th>
      <th style="border-right: 1px solid black; width: 203px;">Name</th>
      <th style="border-right: 1px solid black; width: 160px;">Date Completed</th>
      <th style="border-right: 1px solid black; width: 200px;">Completed By</th>
      <th style="border-right: 1px solid black; width: 100px;">Role</th>

    </tr>
      <tr>
        <td style="text-align:center; border-right: 1px solid black">
            <input type="button" onClick="showDetails(<%= r.id%>);" value='Details'>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.child %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.expires.toDateString() %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.completedby %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.role %>
        </td>
      </tr>
    </table>
    <table id="<%=r.id%>" style="border: 1px solid black; border-collapse: collapse; display:none;">
    <tr>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Total Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Emotional Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Conduct Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Peer Problems Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Hyperactivity Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Impact Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Pro-Social Score&nbsp;</th>
    </tr>
    <tr>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.total %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.emotional %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.conduct %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.peer %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.hyperactivity %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.impact %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.prosocial %>
        </td>
      </tr>
</table>
      <% }); %>

  </div>
  </div>  
</body>

</html>