<!DOCTYPE html>
<html lang="en">

<head>
  <title>All DB Info</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    
    <script>
    
    function showDetails(id){
        
        console.log(id);
        
        let element = document.getElementById(id)
        
        console.log(element);
        
        if (element.style.display == 'none'){
            
            element.style.display = 'inline-block';
            
        } else {
            
            element.style.display = 'none';
            
        }
        
    };
        

    
    </script>

    
  <a href="/home">Return to Homepage</a>
  <div class="center"><img src="/images/sdqLogo.png" alt="sdqLogo"></div>
  
  <h1>All Completed SDQ's</h1>




    <% completedSDQ.forEach(function(r) { %>
  <table style="border: 1px solid black; border-collapse: collapse;">
    <tr>      
        <th style="border-right: 1px solid black; width: 100px;"></th>
      <th style="border-right: 1px solid black; width: 203px;">Name</th>
      <th style="border-right: 1px solid black; width: 160px;">Date Completed</th>
      <th style="border-right: 1px solid black; width: 200px;">Completed By</th>
      <th style="border-right: 1px solid black; width: 100px;">Role</th>

    </tr>
      <tr>
        <td style="text-align:center; border-right: 1px solid black">
            <input type="button" onClick="showDetails(<%= r.id%>);" value='Details'>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.child %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.expires.toDateString() %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.completedby %>
        </td>
        <td style="text-align:center; border-right: 1px solid black">
          <%= r.role %>
        </td>
      </tr>
    </table>
    <table id="<%=r.id%>" style="border: 1px solid black; border-collapse: collapse; display:none;">
    <tr>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Total Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Emotional Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Conduct Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Peer Problems Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Hyperactivity Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Impact Score&nbsp;</th>
      <th style="border-right: 1px solid black; width: 108px;">&nbsp;Pro-Social Score&nbsp;</th>
    </tr>
    <tr>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.total %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.emotional %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.conduct %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.peer %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.hyperactivity %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.impact %>
        </td>
        <td style="text-align:center; border-right: 1px solid black;">
          <%= r.prosocial %>
        </td>
      </tr>
</table>
      <% }); %>

  </table>
</body>

</html>