<!DOCTYPE html>
<html lang="en">

<head>
  <title>All DB Info</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div id="wrapper">
    <div class="center">
      <img src="/images/header.jpg" alt="sdqLogo">
    </div>
    <nav id="pageNav">
      <a href="/logout">Logout</a>
      <a class="noprint" href="/home">Return to Homepage</a>
      <a href="../sdqPage">Complete SDQ</a>
      <a href="../student-records">Individual Student Records</a>
    </nav>
  
  <h1>All Completed SDQ's</h1>
  <div id="resultTable">

    <script>
    
    function showDetails(id){
        
        console.log(id);
        
        let aID = "a"+id;
        let bID = "b"+id;
        
        let aElement = document.getElementById(aID);
        let bElement = document.getElementById(bID);
        
        if (aElement.style.display == 'none' && bElement.style.display == 'none'){
            
            aElement.style.display = 'table-row';
            bElement.style.display = 'table-row';
            
        } else {
            
            aElement.style.display = 'none';
            bElement.style.display = 'none';
            
        }
        
    };
    
    </script>
      
      <table style="border: 1px solid black; border-collapse: collapse;">
          <% completedSDQ.forEach(function(r) { %>

        <tr>      
            <th style="border-right: 1px solid black; width: 100px;"></th>
            <th style="border-right: 1px solid black; width: 203px;">Name</th>
            <th style="border-right: 1px solid black; width: 160px;">Date Completed</th>
            <th style="border-right: 1px solid black; width: 200px;">Completed By</th>
            <th style="border-right: 1px solid black; width: 100px;">Role</th>
            <th style="border-right: 1px solid black; width: 100px;">Total</th>
        </tr>
          
        <tr>
            <td style="text-align:center; border-right: 1px solid black">
                <input type="button" onClick="showDetails(<%= r.id%>);" value='Details'>
            </td>
            <td  class="name" style="text-align:center; border-right: 1px solid black">
                <%= r.child %>
            </td>
            <td style="text-align:center; border-right: 1px solid black">
                <%= r.expires.toLocaleDateString() %>
            </td>
            <td style="text-align:center; border-right: 1px solid black">
                <%= r.completedby %>
            </td>
            <td style="text-align:center; border-right: 1px solid black">
                <%= r.role %>
            </td>
            <td style="text-align:center; border-right: 1px solid black">
                <%= r.total %>
            </td>
        </tr>

        <tr id="a<%=r.id%>" style="display:none;" >
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Emotional Score</strong>&nbsp;</td>
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Conduct Score</strong>&nbsp;</td>
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Peer Problems Score</strong>&nbsp;</td>
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Hyperactivity Score</strong>&nbsp;</td>
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Impact Score</strong>&nbsp;</td>
            <td style="border-right: 1px solid black; width: 108px;">&nbsp;<strong>Pro-Social Score</strong>&nbsp;</td>
        </tr>

        <tr id="b<%=r.id%>" style="display:none;">
            <td style="text-align:center; border-right: 1px solid black;">
                <%= r.emotional %>
            </td>
            <td style="text-align:center; border-right: 1px solid black;">
                <%= r.conduct %>
            </td>
            <td style="text-align:center; border-right: 1px solid black;">
                <%= r.peer %>
            </td>
            <td style="text-align:center; border-right: 1px solid black;">
                <%= r.hyperactivity %>
            </td>
            <td class="<%=r.id%>" style="text-align:center; border-right: 1px solid black;">
                <%= r.impact %>
            </td>
            <td class="<%=r.id%>" style="text-align:center; border-right: 1px solid black;">
                <%= r.prosocial %>
            </td>
        </tr>

<% }); %>
</table>
</div>
</div>  
</body>

</html>