<!DOCTYPE html>
<html lang="en">

  <head class="noprint">
    <meta class="noprint" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="noprint">SDQ Score and Store Results</title>
      
        <style>
            ul {
                list-style-type: none;
            }
            p {
                
                text-decoration: bold;
            }
            @media print {
               .noprint {
                  visibility: hidden;
               }
            }
        </style>
      
  </head>

  <body>
    <a class="noprint" href="/home">Return to Homepage</a>
        
    <% results.forEach(function(r) { %>
      
      <p><strong>Child Name:</strong>&nbsp;<span id="child"><%= r.child %></span></p> 
    <p><strong>DOB:</strong>&nbsp;<span id="dob"><%= r.birthdate.toLocaleDateString() %></span></p>

    <p><strong>Completed by:</strong>&nbsp;<span id="completedby"><%= r.completedby %></span> (<span id="role"><%= r.role %></span>)</p>

    <p hidden>Email: <span id="email"><%= email %></span>
    <p><strong>Completion Date:</strong> <span id="expires"><%= r.expires.toLocaleDateString() %></span></p>

      <ul>
        <li><strong>Total Score:</strong></li>
            <ul>
                <% if (r.role == "Parent" && r.total >= 20) {
                    totalCat = "Very High";
                  } else if (r.role == "Parent" && r.total >= 17) {
                    totalCat = "High";
                  } else if (r.role == "Parent" && r.total >= 14) {
                    totalCat = "Slightly raised";
                  } else if (r.role == "Parent") {
                    totalCat = "Close to average";
                  } else if (r.role == "Teacher" && r.total >= 19) {
                    totalCat = "Very high";
                  } else if (r.role == "Teacher" && r.total >= 16) {
                    totalCat = "High";
                  } else if (r.role == "Teacher" && r.total >= 12) {
                    totalCat = "Slightly raised";
                  } else if (r.role == "Teacher") {
                    totalCat = "Close to average";
                  } else if (r.role == "Self" && r.total >=20) {
                    totalCat = "Very High";
                  } else if (r.role == "Self" && r.total >= 18) {
                    totalCat = "High";
                  } else if (r.role == "Self" && r.total >= 15) {
                    totalCat = "Slightly raised";
                  } else if (r.role == "Self") {
                    totalCat = "Close to average";
                  } %>
                <li><span id="total"><%= r.total %></span>&rarr; <%= totalCat %></li>
            </ul>

        <li><strong>Conduct Problems:</strong></li>
            <ul>
                <% if (r.role == "Parent" && r.conduct >= 6) {
                    conductCat = "Very high";
                  } else if (r.role == "Parent" && r.conduct >= 4) {
                    conductCat = "High";
                  } else if (r.role == "Parent" && r.conduct == 3) {
                    conductCat = "Slightly raised";
                  } else if (r.role == "Parent") {
                    conductCat = "Close to average";
                  } else if (r.role == "Teacher" && r.conduct >= 5) {
                    conductCat = "Very High";
                  } else if (r.role == "Teacher" && r.conduct == 4) {
                    conductCat = "High";
                  } else if (r.role == "Teacher" && r.conduct == 3) {
                    conductCat = "Slightly raised";
                  } else if (r.role == "Teacher") {
                    conductCat = "Close to average";
                  } else if (r.role == "Self" && r.conduct >=6) {
                    conductCat = "Very High";
                  } else if (r.role == "Self" && r.conduct == 5) {
                    conductCat = "High";
                  } else if (r.role == "Self" && r.conduct == 4) {
                    conductCat = "Slightly raised";
                  } else if (r.role == "Self") {
                    conductCat = "Close to average";
                  } %>
                <li><span id="conduct"><%= r.conduct %></span>&rarr; <%= conductCat %></li>
            </ul>

        <li><strong>Emotional Problems:</strong></li>
            <ul>
                <% if (r.role == "Teacher" && r.emotional >= 6) {
                    emotionalCat = "Very high";
                  } else if (r.role == "Teacher" && r.emotional == 5) {
                    emotionalCat = "High";
                  } else if (r.role == "Teacher" && r.emotional == 4) {
                    emotionalCat = "Slightly raised";
                  } else if (r.role == "Teacher") {
                    emotionalCat = "Close to average";
                  } else if (r.role == "Parent" && r.emotional >= 7) {
                    emotionalCat = "Very high";
                  } else if (r.role == "Parent" && r.emotional >= 5) {
                    emotionalCat = "High";
                  } else if (r.role == "Parent" && r.emotional == 4) {
                    emotionalCat = "Slightly raised";
                  } else if (r.role == "Parent") {
                    emotionalCat = "Close to average";
                  } else if (r.role == "Self" && r.emotional >= 7) {
                    emotionalCat = "Very high";
                  } else if (r.role == "Self" && r.emotional == 6) {
                    emotionalCat = "High";
                  } else if (r.role == "Self" && r.emotional == 5) {
                    emotionalCat = "Slightly raised";
                  } else if (r.role == "Self") {
                    emotionalCat = "Close to average";
                  } %>
                <li><span id="emotional"><%= r.emotional %></span>&rarr; <%= emotionalCat %></li>
            </ul>

        <li><strong>Hyperactivity Problems:</strong></li>
            <ul>
                <% if (r.role == "Teacher" && r.hyperactivity >= 9) {
                    hyperactivityCat = "Very high";
                  } else if (r.role == "Teacher" && r.hyeractivity == 8) {
                    hyperactivityCat = "High";
                  } else if (r.role == "Teacher" && r.hyperactivity >= 6) {
                    hyperactivityCat = "Slightly raised";
                  } else if (r.role == "Teacher") {
                    hyperactivityCat = "Close to average";
                  } else if (r.role == "Parent" && r.hyperactivity >= 9) {
                    hyperactivityCat = "Very high";
                  } else if (r.role == "Parent" && r.hyeractivity == 8) {
                    hyperactivityCat = "High";
                  } else if (r.role == "Parent" && r.hyperactivity >= 6) {
                    hyperactivityCat = "Slightly raised";
                  } else if (r.role == "Parent") {
                    hyperactivityCat = "Close to average"; 
                  } else if (r.role == "Self" && r.hyperactivity >= 8) {
                    hyperactivityCat = "Very high";
                  } else if (r.role == "Self" && r.hyeractivity == 7) {
                    hyperactivityCat = "High";
                  } else if (r.role == "Self" && r.hyperactivity == 6) {
                    hyperactivityCat = "Slightly raised";
                  } else if (r.role == "Self") {
                    hyperactivityCat = "Close to average"; 
                  } %>
                <li><span id="hyperactivity"><%= r.hyperactivity %></span>&rarr; <%= hyperactivityCat %></li>
            </ul>

        <li><strong>Peer Problems:</strong></li>
            <ul>
                <% if (r.role == "Teacher" && r.peer >= 6) {
                    peerCat = "Very high";
                  } else if (r.role == "Teacher" && r.peer == 5) {
                    peerCat = "High";
                  } else if (r.role == "Teacher" && r.peer >= 3) {
                    peerCat = "Slightly raised";
                  } else if (r.role == "Teacher") {
                    peerCat = "Close to average";
                  } else if (r.role == "Parent" && r.peer >= 5) {
                    peerCat = "Very high";
                  } else if (r.role == "Parent" && r.peer == 4) {
                    peerCat = "High";
                  } else if (r.role == "Parent" && r.peer == 3) {
                    peerCat = "Slightly raised";
                  } else if (r.role == "Parent") {
                    peerCat = "Close to average"; 
                  } else if (r.role == "Self" && r.peer >= 5) {
                    peerCat = "Very high";
                  } else if (r.role == "Self" && r.peer == 4) {
                    peerCat = "High";
                  } else if (r.role == "Self" && r.peer == 3) {
                    peerCat = "Slightly raised";
                  } else if (r.role == "Self") {
                    peerCat = "Close to average";
                  } %>
                <li><span id="peer"><%= r.peer %></span>&rarr; <%= peerCat %></li>
            </ul>

        <li><strong>Pro-Social Behavior:</strong></li>
            <ul>
                <% if (r.role == "Teacher" && r.prosocial >= 6) {
                    prosocialCat = "Close to Average";
                  } else if (r.role == "Teacher" && r.prosocial == 5) {
                    prosocialCat = "Slightly Lowered";
                  } else if (r.role == "Teacher" && r.prosocial == 4) {
                    prosocialCat = "Low";
                  } else if (r.role == "Teacher") {
                    prosocialCat = "Very Low";
                  } else if (r.role == "Parent" && r.prosocial >= 8) {
                    prosocialCat = "Close to Average";
                  } else if (r.role == "Parent" && r.prosocial == 7) {
                    prosocialCat = "Slightly Lowered";
                  } else if (r.role == "Parent" && r.prosocial == 6) {
                    prosocialCat = "Low";
                  } else if (r.role == "Parent") {
                    prosocialCat = "Very Low";
                  } else if (r.role == "Self" && r.prosocial >= 7) {
                    prosocialCat = "Close to Average";
                  } else if (r.role == "Self" && r.prosocial == 6) {
                    prosocialCat = "Slightly Lowered";
                  } else if (r.role == "Self" && r.prosocial == 5) {
                    prosocialCat = "Low";
                  } else if (r.role == "Self") {
                    prosocialCat = "Very Low";
                  } %>
                <li><span id="prosocial"><%= r.prosocial %></span>&rarr; <%= prosocialCat %></li>
          </ul>
                <br><br>
                <li><strong>Externalizing Behaviors</strong></li>
                    <ul><li><%= r.conduct + r.hyperactivity %>/20</li></ul>
                <li><strong>Internalizing Behaviors</strong></li>
                    <ul><li><%= r.emotional + r.peer %>/20</li></ul>
        </ul>

    <% }); %>   

    <p id="redirect" style="display: none;"><strong>Your test results have been submitted.  Redirecting to homepage...</strong></p>
        
    <br>
    <button type="submit" onclick="window.print()" class="noprint">Print For Records</button>
    <button class="noprint" type="submit" onclick="logTask()">Submit to Database</button>
    <input class="noprint" type=button onClick="location.href='/home'" value='Return to Homepage'>

    <script>
      const logTask = async function () {

        // Get values from test results to store in db
        let child = document.getElementById('child').innerHTML;
        let birthDate = document.getElementById('dob').innerHTML;
        let tdScore = document.getElementById('total').innerHTML;
        let epScore = document.getElementById('emotional').innerHTML;
        let cpScore = document.getElementById('conduct').innerHTML;
        let haScore = document.getElementById('hyperactivity').innerHTML;
        let ppScore = document.getElementById('peer').innerHTML;
        let prScore = document.getElementById('prosocial').innerHTML;
        //let imScore = document.getElementById('impact').innerHTML;
        let compBy = document.getElementById('completedby').innerHTML;
        let scoredBy = document.getElementById('email').innerHTML;
        let role = document.getElementById('role').innerHTML;
        let expires = document.getElementById('expires').innerHTML;

        let redirect = document.getElementById('redirect');

        // Just testing for correct values
        console.log(tdScore + ", " + expires + ", " + role);
        console.log(compBy);
        // Posts test results to the db
        const response = await fetch('/log', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },

          body: JSON.stringify({
            child: child,
            dob: birthDate,
            total: tdScore,
            emotional: epScore,
            conduct: cpScore,
            hyperactivity: haScore,
            peer: ppScore,
            prosocial: prScore,
            impact: 10,
            completed: compBy,
            scored: scoredBy,
            role: role,
            expires: expires
          })

        });

        const result = await response.json();
        console.log(result);

        redirect.style.display = "block";

        let tID = setTimeout(function () {
          window.location.href = "/home";
          window.clearTimeout(tID);
        }, 3000);

      }; 
    </script>

  </body>

</html>