<!DOCTYPE html>
<html lang="en">

  <head class="noprint">
    <meta class="noprint" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title class="noprint">SDQ Score and Store Results</title>
      
        <style>
            ul {
                list-style-type: none;
            }
            p {
                
                text-decoration: bold;
            }
            @media print {
               .noprint {
                  visibility: hidden;
               }
            }
        </style>
      
  </head>

  <body>
    <div id="wrapper">
    <a class="noprint" href="/home">Return to Homepage</a>
    <div class="center">
      <img src="/images/header.jpg" alt="header">
    </div>
    <div id="pageNav">
      <nav>
        <a href="/logout">Logout</a>
        <a href="/home">Return to Homepage</a>
        <a href="sdqPage">Complete SDQ</a>
        <a href="student-records">Individual Student Records</a>
      </nav>
    </div>
    <h1>Assessment Results</h1>

    <div id="testRes">
    <div id="left">
    <% results.forEach(function(r) { %>
      
    <p><strong>Child Name:</strong>&nbsp;<span id="child"><%= r.child %></span></p> 
    <p><strong>DOB:</strong>&nbsp;<span id="dob"><%= r.birthdate.toLocaleDateString() %></span></p>

    <p><strong>Completed by:</strong>&nbsp;<span id="completedby"><%= r.completedby %></span> (<span id="role"><%= r.role %></span>)</p>

    <p hidden>Email: <span id="email"><%= email %></span>
    <p><strong>Completion Date:</strong> <span id="expires"><%= r.expires.toLocaleDateString() %></span></p>
    </div>  

    <div id="right">
      <ul>
        <li><strong>Total Score:</strong></li>
            <ul>
                <%  scoreCategories = ["Close to average", "Slightly raised", "High", "Very high", "Slightly lowered", "Low", "Very low"];
                    roles = ["Parent", "Teacher", "Self"];
                
                  if (r.role === roles[0] && r.total >= 20) {
                    totalCat = scoreCategories[3];
                  } else if (r.role === roles[0] && r.total >= 17) {
                    totalCat = scoreCategories[2];
                  } else if (r.role === roles[0] && r.total >= 14) {
                    totalCat = scoreCategories[1];
                  } else if (r.role === roles[0]) {
                    totalCat = scoreCategories[0];
                  } else if (r.role === roles[1] && r.total >= 19) {
                    totalCat = scoreCategories[3];
                  } else if (r.role === roles[1] && r.total >= 16) {
                    totalCat = scoreCategories[2];
                  } else if (r.role === roles[1] && r.total >= 12) {
                    totalCat = scoreCategories[1];
                  } else if (r.role === roles[1]) {
                    totalCat = scoreCategories[0];
                  } else if (r.role === roles[2] && r.total >=20) {
                    totalCat = scoreCategories[3];
                  } else if (r.role === roles[2] && r.total >= 18) {
                    totalCat = scoreCategories[2];
                  } else if (r.role === roles[2] && r.total >= 15) {
                    totalCat = scoreCategories[1];
                  } else if (r.role === roles[2]) {
                    totalCat = scoreCategories[0];
                  } %>
                <li><span id="total"><%= r.total %></span>&rarr; <%= totalCat %></li>
            </ul>

        <li><strong>Conduct Problems:</strong></li>
            <ul>
                <% if (r.role === roles[0] && r.conduct >= 6) {
                    conductCat = scoreCategories[3];
                  } else if (r.role === roles[0] && r.conduct >= 4) {
                    conductCat = scoreCategories[2];
                  } else if (r.role === roles[0] && r.conduct === 3) {
                    conductCat = scoreCategories[1];
                  } else if (r.role === roles[0]) {
                    conductCat = scoreCategories[0];
                  } else if (r.role === roles[1] && r.conduct >= 5) {
                    conductCat = scoreCategories[3];
                  } else if (r.role === roles[1] && r.conduct === 4) {
                    conductCat = scoreCategories[2];
                  } else if (r.role === roles[1] && r.conduct === 3) {
                    conductCat = scoreCategories[1];
                  } else if (r.role === roles[1]) {
                    conductCat = scoreCategories[0];
                  } else if (r.role === roles[2] && r.conduct >=6) {
                    conductCat = scoreCategories[3];
                  } else if (r.role === roles[2] && r.conduct === 5) {
                    conductCat = scoreCategories[2];
                  } else if (r.role === roles[2] && r.conduct === 4) {
                    conductCat = scoreCategories[1];
                  } else if (r.role === roles[2]) {
                    conductCat = scoreCategories[0];
                  } %>
                <li><span id="conduct"><%= r.conduct %></span>&rarr; <%= conductCat %></li>
            </ul>

        <li><strong>Emotional Problems:</strong></li>
            <ul>
                <% if (r.role === roles[1] && r.emotional >= 6) {
                    emotionalCat = scoreCategories[3];
                  } else if (r.role === roles[1] && r.emotional === 5) {
                    emotionalCat = scoreCategories[2];
                  } else if (r.role === roles[1] && r.emotional === 4) {
                    emotionalCat = scoreCategories[1];
                  } else if (r.role === roles[1]) {
                    emotionalCat = scoreCategories[0];
                  } else if (r.role === roles[0] && r.emotional >= 7) {
                    emotionalCat = scoreCategories[3];
                  } else if (r.role === roles[0] && r.emotional >= 5) {
                    emotionalCat = scoreCategories[2];
                  } else if (r.role === roles[0] && r.emotional === 4) {
                    emotionalCat = scoreCategories[1];
                  } else if (r.role === roles[0]) {
                    emotionalCat = scoreCategories[0];
                  } else if (r.role === roles[2] && r.emotional >= 7) {
                    emotionalCat = scoreCategories[3];
                  } else if (r.role === roles[2] && r.emotional === 6) {
                    emotionalCat = scoreCategories[2];
                  } else if (r.role === roles[2] && r.emotional === 5) {
                    emotionalCat = scoreCategories[1];
                  } else if (r.role === roles[2]) {
                    emotionalCat = scoreCategories[0];
                  } %>
                <li><span id="emotional"><%= r.emotional %></span>&rarr; <%= emotionalCat %></li>
            </ul>

        <li><strong>Hyperactivity Problems:</strong></li>
            <ul>
                <% if (r.role === roles[1] && r.hyperactivity >= 9) {
                    hyperactivityCat = scoreCategories[3];
                  } else if (r.role === roles[1] && r.hyeractivity === 8) {
                    hyperactivityCat = scoreCategories[2];
                  } else if (r.role === roles[1] && r.hyperactivity >= 6) {
                    hyperactivityCat = scoreCategories[1];
                  } else if (r.role === roles[1]) {
                    hyperactivityCat = scoreCategories[0];
                  } else if (r.role === roles[0] && r.hyperactivity >= 9) {
                    hyperactivityCat = scoreCategories[3];
                  } else if (r.role === roles[0] && r.hyeractivity === 8) {
                    hyperactivityCat = scoreCategories[2];
                  } else if (r.role === roles[0] && r.hyperactivity >= 6) {
                    hyperactivityCat = scoreCategories[1];
                  } else if (r.role === roles[0]) {
                    hyperactivityCat = scoreCategories[0]; 
                  } else if (r.role === roles[2] && r.hyperactivity >= 8) {
                    hyperactivityCat = scoreCategories[3];
                  } else if (r.role === roles[2] && r.hyeractivity === 7) {
                    hyperactivityCat = scoreCategories[2];
                  } else if (r.role === roles[2] && r.hyperactivity === 6) {
                    hyperactivityCat = scoreCategories[1];
                  } else if (r.role === roles[2]) {
                    hyperactivityCat = scoreCategories[0];
                  } %>
                <li><span id="hyperactivity"><%= r.hyperactivity %></span>&rarr; <%= hyperactivityCat %></li>
            </ul>

        <li><strong>Peer Problems:</strong></li>
            <ul>
                <% if (r.role === roles[1] && r.peer >= 6) {
                    peerCat = scoreCategories[3];
                  } else if (r.role === roles[1] && r.peer == 5) {
                    peerCat = scoreCategories[2];
                  } else if (r.role === roles[1] && r.peer >= 3) {
                    peerCat = scoreCategories[1];
                  } else if (r.role === roles[1]) {
                    peerCat = scoreCategories[0];
                  } else if (r.role === roles[0] && r.peer >= 5) {
                    peerCat = scoreCategories[3];
                  } else if (r.role === roles[0] && r.peer === 4) {
                    peerCat = scoreCategories[2];
                  } else if (r.role === roles[0] && r.peer === 3) {
                    peerCat = scoreCategories[1];
                  } else if (r.role === roles[0]) {
                    peerCat = scoreCategories[0]; 
                  } else if (r.role === roles[3] && r.peer >= 5) {
                    peerCat = scoreCategories[3];
                  } else if (r.role === roles[3] && r.peer === 4) {
                    peerCat = scoreCategories[2];
                  } else if (r.role === roles[3] && r.peer === 3) {
                    peerCat = scoreCategories[1];
                  } else if (r.role === roles[3]) {
                    peerCat = scoreCategories[0];
                  } %>
                <li><span id="peer"><%= r.peer %></span>&rarr; <%= peerCat %></li>
            </ul>

        <li><strong>Pro-Social Behavior:</strong></li>
            <ul>
                <% if (r.role === roles[1] && r.prosocial >= 6) {
                    prosocialCat = scoreCategories[0];
                  } else if (r.role === roles[1] && r.prosocial == 5) {
                    prosocialCat = scoreCategories[4];
                  } else if (r.role === roles[1] && r.prosocial == 4) {
                    prosocialCat = scoreCategories[5];
                  } else if (r.role === roles[1]) {
                    prosocialCat = scoreCategories[6];
                  } else if (r.role === roles[0] && r.prosocial >= 8) {
                    prosocialCat = scoreCategories[0];
                  } else if (r.role === roles[0] && r.prosocial == 7) {
                    prosocialCat = scoreCategories[4];
                  } else if (r.role === roles[0] && r.prosocial == 6) {
                    prosocialCat = scoreCategories[5];
                  } else if (r.role === roles[0]) {
                    prosocialCat = scoreCategories[6];
                  } else if (r.role === roles[2] && r.prosocial >= 7) {
                    prosocialCat = scoreCategories[0];
                  } else if (r.role === roles[2] && r.prosocial == 6) {
                    prosocialCat = scoreCategories[4];
                  } else if (r.role === roles[2] && r.prosocial == 5) {
                    prosocialCat = scoreCategories[5];
                  } else if (r.role === roles[2]) {
                    prosocialCat = scoreCategories[6];
                  } %>
                <li><span id="prosocial"><%= r.prosocial %></span>&rarr; <%= prosocialCat %></li>

            </ul>

            <li><strong>Impact:</strong></li>
            <ul>
              <% switch (r.impact) {
                case 2 :
                  iCat = "High";
                  break;
                case 1 :
                  iCat = "Slightly raised";
                  break;
                case 0 :
                  iCat = "Close to average";
                  break;
                case "N/A" :
                  iCat = "N/A"
                  break;
                default:
                  iCat = "Very High";
                  break;
              } %>
              <li><span id="impact"><%= r.impact %></span>&rarr; <%= iCat %></li>
            </ul>
            
                <br>
                <li><strong>Externalizing Behaviors</strong></li>
                    <ul><li><%= r.conduct + r.hyperactivity %>/20</li></ul>
                <li><strong>Internalizing Behaviors</strong></li>
                    <ul><li><%= r.emotional + r.peer %>/20</li></ul>
            </ul>
            <br>
            
            </div>

    <% }); %>   
        
    <div id="buttons">
    <button type="submit" onclick="window.print()" class="noprint">Print For Records</button>
    <button class="noprint" type="submit" onclick="logTask()">Submit to Database</button>
    <input class="noprint" type=button onClick="location.href='home'" value='Return to Homepage'>
    </div>
    </div>
    <div class ="redirect">
    <p id="redirect" style="display: none;"><strong>Your test results have been submitted.  Redirecting to homepage...</strong></p>
    </div>
    <script>
      const logTask = async function () {

        // Get values from test results to store in db
        let child = document.getElementById('child').innerHTML;
        let birthDate = document.getElementById('dob').innerHTML;
        let tdScore = document.getElementById('total').innerHTML;
        let epScore = document.getElementById('emotional').innerHTML;
        let cpScore = document.getElementById('conduct').innerHTML;
        let haScore = document.getElementById('hyperactivity').innerHTML;
        let ppScore = document.getElementById('peer').innerHTML;
        let prScore = document.getElementById('prosocial').innerHTML;
        let imScore = document.getElementById('impact').innerHTML;
        let compBy = document.getElementById('completedby').innerHTML;
        let scoredBy = document.getElementById('email').innerHTML;
        let role = document.getElementById('role').innerHTML;
        let expires = document.getElementById('expires').innerHTML;

        let redirect = document.getElementById('redirect');

        // Just testing for correct values
        console.log(tdScore + ", " + expires + ", " + role);
        console.log(compBy);

        // Posts test results to the db
        const response = await fetch('/log', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },

          body: JSON.stringify({
            child: child,
            dob: birthDate,
            total: tdScore,
            emotional: epScore,
            conduct: cpScore,
            hyperactivity: haScore,
            peer: ppScore,
            prosocial: prScore,
            impact: imScore,
            completed: compBy,
            scored: scoredBy,
            role: role,
            expires: expires
          })

        });

        const result = await response.json();
        console.log(result);

        redirect.style.display = "block";

        let tID = setTimeout(function () {
          window.location.href = "/home";
          window.clearTimeout(tID);
        }, 3000);

      }; 
    </script>
  </div>
  </body>
  
</html>