<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <a href="/home">Return to Homepage</a>
        
    <% results.forEach(function(r) { %>
      
    <p>Child Name:&nbsp;<%= r.child %></p> 
    <p>DOB:&nbsp;<%= r.birthdate.toLocaleDateString() %></p>
    <p>Completed by: <%=r.completedby %>(<%=r.role %>) </p>
    <p>Completion Date: <%=r.expires.toLocaleDateString() %></p>
      <ul>
        <li>Total Score:</li>
            <ul>
                <% if (r.total >= 19) {
                  totalCat = "Very high";
                } else if (r.total >= 16) {
                  totalCat = "High";
                } else if (r.total >= 12) {
                  totalCat = "Slightly raised";
                } else {
                  totalCat = "Close to average";
                } %>
                <li><%= r.total %>: <%= totalCat %></li>
            </ul>

        <li>Conduct Problems:</li>
            <ul>
                <% if (r.conduct >= 5) {
                  conductCat = "Very high";
                } else if (r.conduct >= 4) {
                  conductCat = "High";
                } else if (r.conduct >= 3) {
                  conductCat = "Slightly raised";
                } else {
                  conductCat = "Close to average";
                } %>
                <li><%= r.conduct %>: <%= conductCat %></li>
            </ul>

        <li>Emotional Problems:</li>
            <ul>
                <% if (r.emotional >= 6) {
                  emotionalCat = "Very high";
                } else if (r.emotional >= 5) {
                  emotionalCat = "High";
                } else if (r.emotional >= 4) {
                  emotionalCat = "Slightly raised";
                } else {
                  emotionalCat = "Close to average";
                } %>
                <li><%= r.emotional %>: <%= emotionalCat %></li>
            </ul>

        <li>Hyperactivity Problems:</li>
            <ul>
                <% if (r.hyperactivity >= 9) {
                  hyperactivityCat = "Very high";
                } else if (r.hyeractivity >= 8) {
                  hyperactivityCat = "High";
                } else if (r.hyperactivity >= 6) {
                  hyperactivityCat = "Slightly raised";
                } else {
                  hyperactivityCat = "Close to average";
                } %>
                <li><%= r.hyperactivity %>: <%= hyperactivityCat %></li>
            </ul>

        <li>Peer Problems:</li>
            <ul>
                <% if (r.peer >= 6) {
                  peerCat = "Very high";
                } else if (r.peer >= 5) {
                  peerCat = "High";
                } else if (r.peer >= 3) {
                  peerCat = "Slightly raised";
                } else {
                  peerCat = "Close to average";
                } %>
                <li><%= r.peer %>: <%= peerCat %></li>
            </ul>

        <li>Pro-Social Behavior:</li>
            <ul>
                <% if (r.prosocial >= 6) {
                  prosocialCat = "Close to Average";
                } else if (r.prosocial >= 5) {
                  prosocialCat = "Slightly Lowered";
                } else if (r.prosocial >= 4) {
                  prosocialCat = "Low";
                } else {
                  prosocialCat = "Very Low";
                } %>
                <li><%= r.prosocial %>: <%= prosocialCat %></li>
            </ul>
        </ul>

    <% }); %>   
        
    <br>
    <button type="submit" onclick="window.print();return false;">Print For Records</button>
    <button type="submit" onclick="logTask()">Return to HomePage</button>
    <button type="submit" onclick="logTask()">Submit to Database</button>

    <script>
      const logTask = async function () {

        // Get values from test results to store in db
        let child = document.getElementById('child').innerHTML;
        let birthDate = document.getElementById('dob').innerHTML;
        let tdScore = document.getElementById('total').innerHTML;
        let epScore = document.getElementById('emotional').innerHTML;
        let cpScore = document.getElementById('conduct').innerHTML;
        let haScore = document.getElementById('hyperactivity').innerHTML;
        let ppScore = document.getElementById('peer').innerHTML;
        let prScore = document.getElementById('prosocial').innerHTML;
        let imScore = document.getElementById('impact').innerHTML;
        let compBy = document.getElementById('completedby').innerHTML;
        let role = document.getElementById('role').innerHTML;
        let expires = document.getElementById('expires').innerHTML;

        // Test for correct values
        //console.log(tdScore + ", " + expires);

        // Posts test results to the db
        const response = await fetch('/log', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },

          body: JSON.stringify({
            child: child,
            dob: birthDate,
            total: tdScore,
            emotional: epScore,
            conduct: cpScore,
            hyperactivity: haScore,
            peer: ppScore,
            prosocial: prScore,
            impact: imScore,
            completed: compBy,
            role: role,
            expires: expires
          })

        });

        const result = await response.json();
        console.log(result);

      }; 
    </script>

  </body>

</html>