<!DOCTYPE html>
    <html lang="en">
        
        <head>
            <title>DB Info</title>
            <meta charset="UTF-8">
        </head>
        
        <body>     
            
            <a href="/">Return to Homepage</a>
            <h1>Strengths and Difficulties Questionnaire: P or T 11-17</h1>

            <label>Child's Name: </label><input type="text">&nbsp;&nbsp;&nbsp;
            <label>Date of Birth: </label><input type="text">
            
            <br><br>
            
            <table>
                <tr>
                    <th>Num.</th>
                    <th>Question</th>
                    <th>Not True</th>
                    <th>Somewhat True</th>
                    <th>Always True</th>
                </tr>  
                
                <% sdqTests.forEach(function(r) { %>
                    
                <tr>
                    <td><%= r.id %></td>
                    <td><%= r.sdq1117pt %></td>
                    <td><input type="radio" name="<%= r.id %>" value="never"><%= r.never %></td>
                    <td><input type="radio" name="<%= r.id %>" value="sometimes"><%= r.sometimes %></td><td><input type="radio" name="<%= r.id %>" value="always"><%= r.always %></td>
                </tr>
                <% }); %>   
                
            </table>
            
            <br><br>
            
            <label>Completed By: </label><input type="text"> &nbsp;&nbsp;&nbsp;
            <label>Date Completed: </label><input id="date" type="date">
            
            <br><br>
            
            <table>
                <tr>
                    <td>
                        <tr>Parent<input type="radio" name="cb"></tr>
                        <tr>Teacher<input type="radio" name="cb"></tr>
                    </td>
                </tr>
            </table>
            
            <br>
            
            <button type="submit" onclick="logTask()">Submit</button>
            
                        <script>
                let currentTaskID = null;


                //This function loops through the test and pulls the selected answers. Said answers are assigned point values, and the scores are calculated from there.
                function test() {

                    let count = 0;
                    let qArray = [];
                    let selectedValue = "";

                    while (count < 26) {

                        //getting reference to all radio buttons with the value of count
                        const radioBtns = document.querySelectorAll('input[name="'+ count +'"]');

                        //checking what button  is checked in the current group
                        for (const radioBtn of radioBtns) {
                            if (radioBtn.checked) {
                                selectedValue = radioBtn.value;
                                qArray.push(selectedValue);
                                break;
                            }
                        }

                        count++;
                    } // end while loop

                    //Testing 
                    //alert(qArray.toString());

                    //Assigning values
                    let val = 0;
                    let aArray = [];
                    while (val < 26) {
                         
                        //Checking for questions with values calculated differently
                        if(val == 6 || val == 10 || val == 13 || val == 20 || val == 24) {
                            switch(qArray[val]) {
                            case 'never':
                                aArray.push(2)
                                break;
                            case 'sometimes':
                                aArray.push(1)
                                break;
                            case 'always':
                                aArray.push(0)
                                break;
                            case 'none':
                                aArray.push(0)
                                break;
                            default:
                                break;
                            } 
                        //Assigning every other questions value
                        } else {
                            switch(qArray[val]) {
                                case 'never':
                                    aArray.push(0)
                                    break;
                                case 'sometimes':
                                    aArray.push(1)
                                    break;
                                case 'always':
                                    aArray.push(2)
                                    break;
                                case 'none':
                                    aArray.push(0)
                                    break;
                                default:
                                    break;
                            }
                        }

                        val++;

                    } //end while loop

                    let q1;
                    let q2;
                    let q3;
                    let q4;
                    let q5;
                    let q6;
                    let q7;
                    let q8;
                    let q9;
                    let q10;
                    let q11;
                    let q12;
                    let q13;
                    let q14;
                    let q15;
                    let q16;
                    let q17;
                    let q18;
                    let q19;
                    let q20;
                    let q21;
                    let q22;
                    let q23;
                    let q24;
                    let q25;
                    
                    [q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22,q23,q24,q25] = aArray;

                    //Assign actual scores
                    let epScore = q3 + q8 + q13 + q16 + q24; 
                    let cpScore = q5 + q7 + q12 + q18 + q22; 
                    let haScore = q2 + q10 + q15 + q21 + q25;
                    let ppScore = q6 + q11 + q14 + q19 + q23;
                    let prScore = q1 + q4 + q9 + q17 + q20;
                    let tdScore = epScore + cpScore + haScore + ppScore + prScore;

                    let expires = document.getElementById('date');

                    alert("ep-" + epScore + " cp-" + cpScore + " ha-" + haScore + " pp-" + ppScore + " pr-" + prScore + " td-" + tdScore); 

                }// end test function
                                
                const logTask = async function() {


                    test();

                    const response = await fetch('/log', {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        
                        body: JSON.stringify({
                        total: '50',
                        emotional: '10',
                        conduct: '10',
                        hyperactivity: '10',
                        peer: '10',
                        prosocial: '10',
                        impact: '10',
                        expires: "'4/22/2022'",
                            
                        })

                    });
                    
                    const result = await response.json();
                    console.log(result);

                    currentTaskId = id;
                      
                };
                
            </script>
            
        </body>

    </html>