<!DOCTYPE html>
<html lang="en">

<head>
  <title>DB Info</title>
  <meta charset="UTF-8">
</head>

<body>

  <a href="/home">Return to Homepage</a>
  <h1>Single Page Strength and Difficulties Questionnaire</h1>
   
    
  
  <select onchange="changeTest();">
    <option value='sdq410pt'>4-10 Parent/Teacher Single Page</option>
    <option value='sdq1117pt'>11-17 Parent/Teacher Single Page</option>
    <option value='sdq1117s'>11-17 Self Single Page</option>
  </select>

  <script>
      
      function changeTest(){
        const select = document.querySelector("select");
        const selectedChoice = select.value;          
          
          document.querySelectorAll(".a").forEach(el => {
            el.style.display = selectedChoice == "sdq410pt" ? 'inline-block' : 'none';       
          });
          document.querySelectorAll(".b").forEach(el => {
            el.style.display = selectedChoice == "sdq1117pt" ? 'inline-block' : 'none';       
          });
          document.querySelectorAll(".c").forEach(el => {
            el.style.display = selectedChoice == "sdq1117s" ? 'inline-block' : 'none';       
          });
          
      }
          
    function changeIS(){
        const selectIS = document.getElementById("isChange");
        const selectedIS = selectIS.value;          
          
        console.log(selectedIS);
        
          document.querySelectorAll(".IS, .pIS, .tIS, .sIS").forEach(el => {
            el.style.display = selectedIS == "no" ? 'none' : 'inline-block';
          });
        
          document.querySelectorAll(".pIS").forEach(el => {
            el.style.display = selectedIS == "pIS" ? 'inline-block' : 'none';       
          });
          document.querySelectorAll(".tIS").forEach(el => {
            el.style.display = selectedIS == "tIS" ? 'inline-block' : 'none';       
          });
          document.querySelectorAll(".sIS").forEach(el => {
            el.style.display = selectedIS == "sIS" ? 'inline-block' : 'none';       
          });

      }
  
  </script>

  <label>Child's Name: </label><input id="name" type="text">&nbsp;&nbsp;&nbsp;
  <label>Date of Birth: </label><input id="dob" type="date">
 
  <br><br>

  <table>
    <tr>
      <th>Num.</th>
      <th>Question</th>
      <th>Not True</th>
      <th>Somewhat True</th>
      <th>Always True</th>
    </tr>

    <% testQuestions.forEach(function(r) { %>

      <tr>
        <td>
          <%= r.id %>
        </td>
        <td>
            <div class ="a" style="display:inline-block;"><%= r.sdq410pt %></div>
            <div class ="b" style="display:none;"><%= r.sdq1117pt %></div>
            <div class ="c" style="display:none;"><%= r.sdq1117s %></div>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="never">
          <%= r.never %>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="sometimes">
          <%= r.sometimes %>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="always">
          <%= r.always %>
        </td>
      </tr>
      <% }); %>

  </table>
    
    <br><br>
    
  <select id="isChange" onchange="changeIS();">
    <option value='no'>No Impact Supplement</option>
    <option value='pIS'>Parent Impact Supplement</option>
    <option value='tIS'>Teacher Impact Supplement</option>
    <option value='sIS'>Self Impact Supplement</option>
  </select>
    
    <br><br>
    
  <table class ="IS" style="display:none;">
    <tr>
      <th>Question</th>
      <th>Not At All</th>
      <th>Only A Little</th>
      <th>A Medium Amount</th>
      <th>A Great Deal</th>
    </tr>

    <% impactQuestions.forEach(function(r) { %>

      <tr>
        <td>
            <div class ="pIS" style="display:none;"><%= r.parent %></div>
            <div class ="tIS" style="display:none;"><%= r.teacher %></div>
            <div class ="sIS" style="display:none;"><%= r.self %></div>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="notAtAll">
          <%= r.never %>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="aLittle">
          <%= r.never %>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="mediumAmt">
          <%= r.sometimes %>
        </td>
        <td><input type="radio" name="<%= r.id %>" value="greatDeal">
          <%= r.always %>
        </td>
      </tr>
      <% }); %>

  </table>

  <br><br>

  <label>Completed By: </label><input id="completed" type="text"> &nbsp;&nbsp;&nbsp;
  <label>Date Completed: </label><input id="date" type="date">

  <br><br>

  <table>
    <tr>
      <td>
    <tr>Parent<input id="parent" type="radio" name="cb"></tr>
    <tr>Teacher<input id="teacher" type="radio" name="cb"></tr>
    <tr>Self<input id="self" type="radio" name="cb"></tr>
    </td>
    </tr>
  </table>

  <br>

  <button type="submit" onclick="logTask()">Submit</button>

</body>

</html>
