<!DOCTYPE html>
<html lang="en">

<head>
  <title>Individual Student Records</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div id="wrapper">
    <div class="center">
      <img src="/images/header.jpg" alt="sdqLogo">
    </div>
  <nav id="pageNav">
    <a href="/logout">Logout</a>
    <a class="noprint" href="/home">Return to Homepage</a>
    <a href="../sdqPage">Complete SDQ</a>
    <a href="/db-info">All SDQ Records</a>
  </nav>
  <h1>Individual Student Records</h1>

  <div id="childName">
  <label for="child">Child's Name: </label>
  <input type="text" id="child" name="child">
  <button type="submit" onclick="getChildRecords()">Submit</button>
  </div>
  <div id="resultTable">
  <table>
    <tr>
      <th>Child</th>
      <th>Total</th>
      <th>Emotional Problems</th>
      <th>Conduct Problems</th>
      <th>Hyperactivity Problems</th>
      <th>Peer Problems</th>
      <th>Prosocial Behavior</th>
      <th>Impact Score</th>
      <th>Completion Date</th>
      <th>Completed By</th>
      <th>Role</th>
    </tr>

    <% completedSDQ.forEach(function(r) { %>
      <tr>
        <td>
          <%= r.child %>
        </td>
        <td>
          <%= r.total %>
        </td>
        <td>
          <%= r.emotional %>
        </td>
        <td>
          <%= r.conduct %>
        </td>
        <td>
          <%= r.hyperactivity %>
        </td>
        <td>
          <%= r.peer %>
        </td>
        <td>
          <%= r.prosocial %>
        </td>
        <td>
          <%= r.impact %>
        </td>
        <td>
          <%= r.expires.toDateString() %>
        </td>
        <td>
          <%= r.completedby %>
        </td>
        <td>
          <%= r.role %>
        </td>
      </tr>
      <% }); %>

  </table>
  </div>
  <script>

    function getChildRecords() {
      // Ensure case safety
      let childName = child.value;
      window.location.href = '/student-records/' + childName;
    }

    

    function validateUser() {
      console.log(username.value + " " + password.value);
    }


  </script>
  </div>
</body>

</html>